.Menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.45);
    z-index: 100;

    .container {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 200;
        width: 25rem;
        height: 100%;
        background-color: white;

        .header {
            width: 100%;
            height: 4rem;
            color: var(--text-color);
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 2rem;

            h1 {
                font-size: var(--font-medium);
                cursor: pointer;
            }

            i {
                cursor: pointer;
                font-size: var(--font-medium);
            }
        }
    }
}