.slide {
    display: flex;
    align-items: end;
    padding-left: 4rem;
    padding-bottom: 3rem;
    gap: 2rem;
    background-color: #E8E3D5;

    @media (max-width:768px) {
        padding: 1rem;
        align-items: center;
        flex-direction: column;
        gap: .5rem;
    }

    .artist-image {
        width: 25rem;
        height: 25rem;
        border-radius: 1em;
        background-color: var(--light-bg-box);

        @media (max-width:768px) {
            width: 100%;
            height: 15rem;
        }
    }

    .artist-data {
        @media (max-width:768px) {
            align-self: flex-start;
        }

        .name {
            font-size: 4rem;

            @media (max-width:768px) {
                padding-left: 1rem;
                font-size: 2rem;
            }
        }

    }
}

.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3c3c3c;
    color: white;
    cursor: pointer;
    font-size: 2rem;
}