@import "tailwindcss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body{
    font-family: var(--font-logo);
}

:root {
    --font-logo: var(--font-josefin);
    --main-bg-color: #FAF8F1;
    --text-color: #1B3C53;
    --font-medium: 1.5rem;
    --font-small: 1rem;
    --font-big: 2rem;
    --btn-font-size: 1.2rem;
    --btn-padding-y: 0.3rem;
    --btn-padding-x: 1rem;
    --btn-radius: 0.5em;
    --btn-font-weight: 600;
    --btn-bg: #19183B;
    --btn-color: #ffffff;
    --btn-text-transform: capitalize;
    --btn-cursor: pointer;
    --font-high-bold: 700;
    --font-medium-bold: 500;
    --font-low-bold: 300;
    --main-padding-y: 1rem;
    --main-padding-x: 2rem;
    --mobile-padding-y: .5rem;
    --mobile-padding-x: .5rem;
    --light-bg-box:#9e9e9e
}
