 .nav {
     width: 100%;
     height: 4.5rem;
     display: grid;
     grid-template-columns: repeat(5, 1fr);
     gap: 1rem;
     background-color: var(--main-bg-color);
     padding: 1rem var(--main-padding-y);

     @media (max-width: 768px) {
         gap: .5rem;
         grid-template-columns: repeat(2, 1fr);
         height: fit-content;
     }

     .box {
         border-radius: .5em;
         width: 100%;
         min-height: 4rem;
         display: flex;
         align-items: center;
         justify-content: center;
         background-color: #E8E3D5;
         cursor: pointer;
         transition: all .3s ease;
         user-select: none;
         border: 2px solid black;

         @media (max-width: 768px) {
             border: .75px solid black;

             &:last-child {
                 grid-column: 1 / -1;
             }
         }

         &:hover {
             color: white;
             background-color: #faca44;
         }

         h1 {
             font-size: var(--font-medium);
             font-weight: 600;

             a {
                 text-decoration: none;
                 color: inherit;
             }
         }
     }
 }