.Like {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
    z-index: 100;

    .container {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 200;
        width: 25rem;
        height: 100%;
        background-color: white;
        overflow-y: hidden;

        @media (max-width:768px) {
            width: 100%;
        }

        .header {
            width: 100%;
            height: 4rem;
            color: var(--text-color);
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 2rem;

            h1 {
                font-size: var(--font-medium);
                cursor: pointer;
            }

            i {
                cursor: pointer;
                font-size: var(--font-medium);
            }
        }

        .grid-container {
            width: 100%;
            height: calc(100% - 5rem);
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-row: auto;
            gap: .5rem;
            padding: 0 1rem;
            overflow-y: auto;

            .box {
                aspect-ratio: 1 / 1;
                background-color: var(--light-bg-box);
                border-radius: .5em;
                cursor: pointer;
            }
        }
    }
}