.Nav{
    width: 100%;
    height: 4.5rem;
    border-bottom:2px solid black;
    background-color: var(--main-bg-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--main-padding-x);
    h1{
        font-size: 1.4rem;
        font-weight: var(--font-medium-bold);
        font-family: "ui-sans-serif";
        span{
            font-size: var(--font-big);
            font-weight: var(--font-high-bold);
            font-family: var(--font-logo) ;
        }
    }
}